@import url("https://fonts.googleapis.com/css2?family=Lalezar&display=swap");
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Lalezar", cursive;
  /* color: #111111; */
}
body {
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  color: slategrey;
}
a {
  text-decoration: none;
}
#curoser {
  color: white;
}
#curoser h1 {
  color: white;
}
.bg-mainDark {
  background-color: #111111;
}

.topHeader ul {
  color: white;
  padding: 0.5rem 0rem;
  margin: 0;
}
.topHeader ul li:not(:first-child) {
  list-style: none;
  display: inline-block;
  font-size: 1rem;
  padding: 0 0.5rem;
  text-align: center;
  cursor: pointer;
}
.topHeader ul li:first-child {
  list-style: none;
  display: inline-block;
  font-size: 1rem;
  padding-right: 0.5rem;
  text-align: center;
  cursor: pointer;
}
.topHeader ul li:not(:last-child) {
  border-right: 1px solid rgb(122, 122, 122);
}
.social i {
  margin-left: 0.3rem;
  padding: 0;
}
.mainNavbar {
  font-weight: bold;
}
.mainNavbar > a {
  margin: 0rem 0.1rem;
}

#grad {
  background: rgb(8, 86, 162);
  background: linear-gradient(
    180deg,
    rgba(8, 86, 162, 1) 0%,
    rgba(60, 16, 138, 1) 100%
  );
}
.text-grad {
  margin-bottom: 0;
  font-size: 60px;
  background: rgb(8, 86, 162);
  background: linear-gradient(
    270deg,
    rgba(8, 86, 162, 1) 0%,
    rgba(60, 16, 138, 1) 100%
  );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.color-border {
  width: 20%;
}
.normal-h,
.normal-p {
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  color: #111111;
}
.bg-img1 {
  background-image: url("../Media/images/photo\ bg\ 1.jpg");
}
.bg-img2 {
  background-image: url("../Media/images/phot-bg-2.jpg");
}
.bg-img3 {
  background-image: url("../Media/images/photo-bg-3.jpg");
}
.bg-img4 {
  background-image: url("../Media/images/photo-bg-4.jpg");
}
.photo-bg {
  position: relative;
  height: 423px;
  transition: all 0.2s ease;
  z-index: 2;
}
.photo-bg::after {
  background: rgb(8, 86, 162);
  background: linear-gradient(
    180deg,
    rgba(8, 86, 162, 0) 31%,
    rgba(0, 0, 0, 0.925) 100%
  );
  position: absolute;
  content: " ";
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: -1;
}
.photo-bg > div {
  position: absolute;
  bottom: 10px;
}
.photo-bg h3 {
  color: white;
  transition: all 0.4s ease;
}
.photo-bg a {
  color: white;
  text-decoration: underline;
  margin-bottom: 0;
  display: none;
}
.photo-bg:hover a {
  display: block;
}
.photo-bg:hover h3 {
  transform: translateY(-10px);
  display: block;
}
.bg-days-1 {
  background-image: url(../Media/images/days-bg-1.jpg);
}
.bg-days-2 {
  position: relative;
  background-image: url(../Media/images/days-bg-2.jpg);
}
.bg-days-3 {
  background-image: url(../Media/images/days-bg-3.jpg);
}
.our-work {
  padding: 1rem;
  height: 400px;
}
.our-work > span {
  border-radius: 0;
  background-color: #ff3d55 !important;
  padding-top: 1rem;
  padding-bottom: 1rem;
  padding: 1rem;
  color: white !important;
}
.myCard {
  box-shadow: 6px 6px 20px rgb(112, 112, 112);
  position: absolute;
  bottom: -5rem;
  right: 3rem;
}
.myCard > p {
  color: gray !important ;
}
.our-work h2,
.our-work p {
  margin-bottom: 0;
}
#opinion {
  margin-top: 10rem;
  background-color: #3d348d;
}

/* crosec */
/* .tester_new {
	padding: 20px 0 100px;
} */

.tester_new .carousel-item p {
  color: rgb(255, 255, 255);
  line-height: 28px;
  letter-spacing: 1px;
}

.tester_new .carousel-indicators {
  justify-content: start;
  margin: 0;
}
.tester_new .carousel-indicators li {
  height: 50px;
  width: 50px;
  border-radius: 50%;
  background-image: url(https://images.unsplash.com/photo-1586430921668-e095e5243daf?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=675&q=80);
  background-position: center;
  background-size: cover;
  border: 1px solid #f1f2f3;
  opacity: 0.4;
  margin: 0 10px;
  cursor: pointer;
}
.tester_new .carousel-indicators li:nth-child(2) {
  background-image: url(https://images.unsplash.com/photo-1529284607059-de6f2f0e661f?ixlib=rb-1.2.1&auto=format&fit=crop&w=634&q=80);
}
.tester_new .carousel-indicators li:nth-child(3) {
  background-image: url(https://images.unsplash.com/photo-1531891570158-e71b35a485bc?ixlib=rb-1.2.1&auto=format&fit=crop&w=700&q=80);
}
.carousel-indicators {
  bottom: -90px;
}
.tester_new .carousel-indicators .active {
  opacity: 1;
}
.opinion-icon {
  font-size: 4rem;
}
.logos {
  margin-top: 8rem;
}
.blog-card {
  border-radius: 0;
  border: 1px solid #d8d8d8;
}
.blog-card h5 {
  margin-left: 1rem;
}
.blog-card img {
  border-radius: 0;
}
.span-card {
  border-right: 1px solid #4b4b4b;
  border-radius: 0;
  font-weight: 100;
}

.span-card > p {
  margin: 0;
  font-weight: 100;
}
.span-card .p-header {
  font-size: 2rem;
  font-weight: thin;
}
.display-4 {
  color: #111111;
}
form input,
form textarea,
select {
  width: 100%;
  margin-top: 1rem;
  padding: 1rem;
  border: none;
  border-bottom: 1px solid #707070;
}
form button {
  border-radius: 0 !important;
}
footer {
  background-color: black;
  color: #d8d8d8;
}
.header-footer {
  font-size: 4rem;
}
.text-line {
  display: flex;
  flex-direction: row;
}
.text-line::after,
.text-line::before {
  content: " ";
  flex: 1 1;
  border-bottom: 2px solid #999999;
  margin: auto;
}
.info-site {
  color: #999999;
}
.info-site > h4 {
  color: #d8d8d8;
}
.info-site ul {
  padding-left: 0;
}
.info-site ul li {
  list-style: none;
}
.info-site ul li > i {
  padding-right: 0.3rem;
}
.footer-list ul {
  padding-left: 0;
}
.footer-list ul li {
  list-style: none;
}
.button-footer {
  color: #999999;
}
.button-footer ul li {
  list-style: none;
  display: inline-block;
  padding-left: 0.8rem;
}
.button-footer ul :not(:last-child) {
  padding-right: 0.8rem;
  padding-left: 0.8rem;
  list-style: none;
  display: inline-block;
  border-right: 0.5px solid #313131;
}
.footer-social i {
  font-size: 1.3rem;
  padding-left: 0.5rem;
  padding-right: 0.5rem;
}
.footer-social :not(:last-child){
  border-right: 0.2px solid #353535;
};
